/***** PAGE SETUP *****/
html,
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', serif;
  line-height: 1.5;
  background-color: rgb(250, 250, 250);
  transition: 0.8s all;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
}

/***** INDEX.HTML *****/

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
}

.landing__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.landing__intro {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
}

.landing__intro a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font: inherit;
}

.italic {
  font-style: italic;
}

.arrow {
  color: salmon;
  transition: all 0.2s;
  margin-left: 2px;
}

.underline {
  cursor: pointer;
  border-bottom: 2px solid salmon;
}

.underline:hover {
  background-color: salmon;
  cursor: pointer;
}

.underline:hover > .arrow {
  color: black;
  margin-left: 6px;
  padding-right: 3px;
}

.icon-wrapper {
  max-width: 600px;
  margin-top: 40px;
}

.icons {
  display: flex;
}

.icon {
  margin: 20px;
}

.icon img {
  width: 24px;
  height: 24px;
}

.icon a {
  color: inherit;
  text-decoration: none;
}

.more {
  margin: 20px 0;
}

.now, .work {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1d3d4;
  padding-left: 4px;
}

.more--arrow {
  margin-left: 1em;
}

.now:hover, .work:hover {
  background-color: salmon;
  cursor: pointer;
}

.more--arrow:hover {
  margin-left: 6px;
  padding-right: 3px;
}



@media only screen and (max-width: 940px) {

  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image__div {
    max-height: 50vh;
  }

  .landing__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .landing__intro {
    padding: 0 12px;
  }

  .icons {
    justify-content: space-evenly;
  }
}

/***** NOW PAGE *****/

.now__main-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 0 20px;
}

.now__main-content a {
  color: inherit;
  text-decoration: none;
}

.back-button {
  margin-bottom: 30px;
}

.label--highlight {
  background-color: palegoldenrod;
  padding: 0 2px 0 2px;
}